<!-- src/app/admin/admin.component.html -->
<div class="flex h-screen">
    <!-- Vertical Navbar -->
    <div class="w-1/5 bg-gray-800 text-white flex flex-col">
      <div class="p-4 text-2xl font-bold">
        Admin Panel
      </div>
      <nav class="flex-grow">
        <ul>
          <li>
            <a (click)="openAddCar()" class="block p-4 hover:bg-gray-700 cursor-pointer">Add Car</a>
          </li>
          <li>
            <a (click)="showStatus()" class="block p-4 hover:bg-gray-700 cursor-pointer">Status</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- Content Area -->
    <div class="w-4/5 p-4">
      <ng-container>
        <app-status></app-status>
      </ng-container>
      <router-outlet></router-outlet>
    </div>
  </div>
  
  <ng-template [ngIf]="popupService.isVisible()">
    <div class="fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center">
      <div class="bg-white p-6 rounded-lg shadow-lg w-1/2">
        <button class="absolute top-2 right-2 text-gray-700" (click)="popupService.hide()">X</button>
        <app-add-car></app-add-car>
      </div>
    </div>
  </ng-template>
  